{% extends "base.html" %}

{% block title %}CAA - Home{% endblock %}

{% block content %}

<div class="card-grid">

    <div class="sk card">
      <div class="info-icon skeleton"></div>
      <div class="card-title-placeholder skeleton"></div>
      <div class="card-info-placeholder skeleton"></div>
      <div class="card-info-placeholder skeleton"></div>
      <div class="card-info-placeholder skeleton"></div>
      <div class="card-info-placeholder skeleton"></div>
    </div>
  
    <div class="sk card">
      <div class="info-icon skeleton"></div>
      <div class="card-title-placeholder skeleton"></div>
      <div class="card-info-placeholder skeleton"></div>
      <div class="card-info-placeholder skeleton"></div>
      <div class="card-info-placeholder skeleton"></div>
      <div class="card-info-placeholder skeleton"></div>
    </div>
  
    <div class="sk card">
      <div class="info-icon skeleton"></div>
      <div class="card-title-placeholder skeleton"></div>
      <div class="card-info-placeholder skeleton"></div>
      <div class="card-info-placeholder skeleton"></div>
      <div class="card-info-placeholder skeleton"></div>
      <div class="card-info-placeholder skeleton"></div>
    </div>
    <div class="sk card">
        <div class="info-icon skeleton"></div>
        <div class="card-title-placeholder skeleton"></div>
        <div class="card-info-placeholder skeleton"></div>
        <div class="card-info-placeholder skeleton"></div>
        <div class="card-info-placeholder skeleton"></div>
        <div class="card-info-placeholder skeleton"></div>
      </div>
      <div class="sk card">
        <div class="info-icon skeleton"></div>
        <div class="card-title-placeholder skeleton"></div>
        <div class="card-info-placeholder skeleton"></div>
        <div class="card-info-placeholder skeleton"></div>
        <div class="card-info-placeholder skeleton"></div>
        <div class="card-info-placeholder skeleton"></div>
      </div>
    
      <div class="sk card">
        <div class="info-icon skeleton"></div>
        <div class="card-title-placeholder skeleton"></div>
        <div class="card-info-placeholder skeleton"></div>
        <div class="card-info-placeholder skeleton"></div>
        <div class="card-info-placeholder skeleton"></div>
        <div class="card-info-placeholder skeleton"></div>
      </div>
    
      <div class="sk card">
        <div class="info-icon skeleton"></div>
        <div class="card-title-placeholder skeleton"></div>
        <div class="card-info-placeholder skeleton"></div>
        <div class="card-info-placeholder skeleton"></div>
        <div class="card-info-placeholder skeleton"></div>
        <div class="card-info-placeholder skeleton"></div>
      </div>
  
  </div>
<script defer src="{{ url_for('static', filename='scripts/templates.js') }}"></script>
{% endblock %}
